@model CarrinhoCompraViewModel

@if (Model.CarrinhoCompra.CarrinhoCompraItems.Count > 0)
{
    <a asp-controller="CarrinhoCompra" asp-action="Index">
        <span><img src="~/images/carrinho-de-compras.png" width="20" height="20" /></span>
        <span style="color:black">
            @Model.CarrinhoCompra.CarrinhoCompraItems.Count
        </span>
    </a>
}
