<footer>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-faded  border-bottom box-shadow mb-3" style="background-color: #32CD32">
        <div class="container">
            <div class="row">
                <div class="col-10 col-md-5 col-lg-5 offset-1" style="color: black">
                    <h4> &copy; 2023 - Livraria - Leitura em foco</h4>
                    <p class="text-justify">
                        Obrigada por visitar nossa livraria. Aproveite a ampla seleção de títulos, preços competitivos e entrega rápida em todo o país. 
                        Para qualquer dúvida ou assistência, entre em contato com nossa equipe de atendimento ao cliente. 
                        Boas compras!
                    </p>
                </div>

                <div class="col-10 col-md-5 col-lg-5 offset-1" style="color: black">
                    <h4>Tem alguma dúvida?</h4>
                    <ul class="list-unstyled">
                        <li class="py-1"> R. Ibituruna, 108 - Maracanã, Rio de Janeiro - RJ, 20271-020</li>
                        <li class="py-1"> +55 21 99124-3906</li>
                        <li class="py-1"> <a href="livraria@gmail.com" style="color: black">livraria@gmail.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>


</footer>