
<img src="~/images/acesso-negado.png" width="200" height="200" alt="Área de administração" class="marginTop1" />
<div class="container">
    <div class="jumbotron">
        <p>
            <h2>Acesso não autorizado</h2>
        </p>
    </div>
    <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="Index">Voltar para a página inicial</a>
</div>
