@model LoginViewModel

<table class="table">
    <tr>
        <td><img src="~/images/fechadura.png" width="300" height="200" alt="Fazer o Login" class="center-block" /></td>
        <td>
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 " >
                    <h4>Login</h4>
                    <form asp-controller="Account" asp-action="Login" method="post" class="form-horizontal" role="form">
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input type="hidden" asp-for="ReturnUrl" />
                        <div class="form-group ">
                            <label asp-for="UserName"></label>
                                <input asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group ">
                            <label asp-for="Password" ></label>                           
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                           
                        </div>
                       
                        <div class="form-group">
                          
                                <input type="submit" class="btn btn-success" value="Entrar" />
                           
                        </div>
                    </form>
                </div>
            </div>
        </td>
    </tr>
</table>