<div class="container">
    <img src="~/images/faleconosco1.jpg" alt="Fale conosco" />
    <div class="jumbotron">
        <h3>Queremos saber o que você tem a dizer</h3>
        <p>
            Se tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <span>
                <img src="~/images/o-email.png" width="50" height="50" />
            </span>
            <h5><email endereco="rebeccafmcf@gmail.com" conteudo="Enviar um e-mail"></email></h5>
            <br />
            <span>
                <img src="~/images/contato.png" width="50" height="50" />
            </span>
            <h5>(21) 99602-3525</h5>
            <br />
            <span>
                <img src="~/images/mapas-e-bandeiras.png" width="50" height="50" />
            </span>
            <h5>R. Ibituruna, 108 - Maracanã, Rio de Janeiro - RJ, 20271-020</h5>
        </p>
    </div>
</div>