<table  border="0" width="100%" >
    <tr>
        <td width="50%" >
            <form method="post" enctype="multipart/form-data" asp-controller="AdminImagens" asp-action="UploadFiles">
            <img src="~/images/icons8-enviar-arquivo-50.png" width="100" height="100" />
            <div class="form-group d-flex justify-content-center ">
                <div class="col-md-10 ">
                    <p ><b>Selecione um ou mais arquivos para enviar :</b></p>
                    <p>(Arquivos com o mesmo nome serão sobrescritos)</p>
                    <input type="file" name="files" multiple class="btn btn-outline-primary" />
                </div>
            </div>
            <br />
            <div class="form-group d-flex justify-content-center">
                <div class="col-md-10">
                    <input type="submit" value="Enviar arquivo(s)" class=" btn btn-outline-primary" />
                </div>
            </div>
            </form>
        </td>
        <td width="50%" >
            <form method="post" enctype="multipart/form-data" asp-controller="AdminImagens" asp-action="GetImagens">
            <img src="~/images/icons8-visualizar-arquivo-50.png" width="100" height="100" />
            <div class="form-group d-flex justify-content-center">
                <div class="col-md-10">
                    <p><strong>Visualizar imagens na pasta do servidor :</strong></p>
                </div>
            </div>
            <br />
            <div class="form-group d-flex justify-content-center">
                <div class="col-md-10">
                    <input type="submit" value="Visualizar arquivos no servidor" class=" btn btn-outline-primary" />
                </div>
            </div>
            </form>
        </td>
    </tr>    

</table>
<div class="container">
    @if (ViewData["Deletado"] != null)
    {
        <li>@ViewData["Deletado"]</li>
    }
</div>