html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #90EE90;
    margin-bottom: 60px;
}
table {
    border-collapse: collapse;
    table-layout: auto ;
    padding: 0;

}

td {
    text-align: center;
    border: solid 1px;
    padding: 1px;
    word-wrap: break-word;
}

